<html>
<head>
	<title>Index</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function (){
 			
      })
	</script>
</head>
<body>
	<% if(typeof(errors) != 'undefined' ) { %>
    	<% for (var x in errors) { %>
    	<h3><%= errors[x].message %></h3>
    		<% } %>
 	<% } %>

 	<% if(typeof(users) != 'undefined' ) { %>
	 	<% for(var x in users) { %>
	  		<h3>Name: <%= users[x].name %></h3>
	  		<h4>Email: <%= users[x].email %></h4>
	  		<h4>Id: <%= users[x].id %></h4>
	  		<hr>
	 	 <% } %>
	<% }%>
	<form action='/users' method='post'>
		<label>Name</label>
		<input name='name'>
		<label>Age</label>
		<input name='age'>
		<button type='submit'>Submit</button>
	</form>
</body>
</html>