<html>
<head>
	<title>Index</title>
	<style type="text/css">
		label, input, textarea, button {
			display: block;
			margin: 20px;
		}
		textarea {
			width: 400px;
			height: 100px;
		}
	</style>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function (){
 			
      })
	</script>
</head>
<body>
	<h1>Welcome to Quoting Dojo</h1>
	<% if(typeof(errors) != 'undefined' ) { %>
    	<% for (var x in errors) { %>
    	<h3><%= errors[x].message %></h3>
    		<% } %>
 	<% } %>

 	<% if(typeof(users) != 'undefined' ) { %>
	 	<% for(var x in users) { %>
	  		<h3>Name: <%= users[x].name %></h3>
	  		<h4>Id: <%= users[x].quote %></h4>
	  		<hr>
	 	 <% } %>
	<% }%>
	<form action='/users' method='post'>
		<label>Your Name</label>
		<input name='name'>
		<label>Your Quote</label>
		<textarea name='quote'></textarea>
		<button type='submit'>Submit</button>
	</form>
	<form action='/quotes_page' method='post'>
		<button id="quotes_page">See Quotes Page</button>
	</form>
</body>
</html>