<html>
<head>
	<title>THIS Mongoose</title>
</head>
<body>
	<h1>Check out this Mongoose</h1>
	<h3>Name:</h3>
	<h3><%= mongoose_display.name %></h3>
	<h3>Description:</h3>
	<h3><%= mongoose_display.description %></h3>
	<button><a href="/">Back to Dashboard</a></button>
</body>
</html>